<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <div class="instructions">
            <h3>use arrows to move</h3>
        </div>
            <div id="table_container"></div>
        </div>
    </div>      
    <script src="../common/piece.js"></script>
    <script src="table.js"></script>
    <script src="keiesInput.js"></script>
    <script src="view.js"></script>
    <script src="viewBootstraper.js"></script>
    <script src="../controller/game.js"></script>
    <Script src="../controller/controller.js"></Script>
    <Script src="../controller/bootstraper.js"></Script>

    
</body>
</html>